@import 'tailwindcss';

:root {
  --foreground-rgb: 229, 229, 229;
  --background-rgb: 23, 23, 23;
}

@layer base {
  html {
    font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  }

  code,
  pre,
  kbd {
    font-family: var(--font-geist-mono), ui-monospace, monospace;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.hover-scale {
  transition: transform 0.3s ease-in-out;
}

.hover-scale:hover {
  transform: scale(1.05);
}